version: "3.9"
services:
  app:
    build:
      context: ../..
      dockerfile: Dockerfile
    image: mern-training-base:latest
    command: ["sh", "-c", "sleep infinity"]
    volumes:
      - ../..:/app
    working_dir: /app
