services:
  app:
    build:
      context: ../..
      dockerfile: Dockerfile
    image: mern-training-base:task-011
    command: ["./tasks/task-011/run-tests.sh"]
    volumes:
      - ../..:/app
    working_dir: /app
